:root {
  --DesaturatedRed: hsl(0, 36%, 70%);
  --SoftRed: hsl(0, 93%, 68%);
  --LightLinear: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --DarkLinear: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

  --mobile-body: 1rem;
  --mobile-header: 2.75rem;
  --desktop-body: 1.5rem;
  --desktop-header: 4.5rem;
}

* {
  font-family: "Josefin Sans", sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 375px;
}

header,
.coming-soon {
  padding: 2rem;
  width: 100%;
}

header {
  height: 6rem;
  display: flex;
  align-items: center;
}

header img {
  height: 1.75rem;
}

.hero {
  width: 375px;
  height: 200px;
  background-image: url(images/hero-mobile.jpg);

}

.coming-soon {
  margin-bottom: 2rem;
  text-align: center;
}

.email-submit {
  position: relative;
  margin-top: 2rem;
}

input,
button {
  height: 3rem;
  border-radius: 1.5rem;
  border: none;
}

input {
  width: 100%;
  border: var(--DesaturatedRed) solid 1px;
  color: var(--DesaturatedRed);
  padding-left: 1.5rem;
  background: none;
}

input::placeholder {
  color: var(--DesaturatedRed)
}

input:focus {
  outline: var(--SoftRed) solid 1px;
}

button {
  position: absolute;
  right: 0;
  height: 100%;
  width: 4rem;
  outline: linear-gradient(var(--DarkLinear) solid 2px);
  background: var(--DarkLinear);
  box-shadow: 2px 10px 40px var(--DesaturatedRed);
}

button:hover {
  cursor: pointer;
  background: var(--DesaturatedRed);
}

.error {
  font-size: 0.75rem;
  margin: 0.25rem 0;
  text-align: left;
  padding-left: 1.5rem;
  color: red;
}

h1,
span {
  font-size: var(--mobile-header);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8px;
  line-height: 1;
}

h1 {
  margin: 1rem 0;
}

span {
  color: var(--DesaturatedRed);
  font-weight: 300;
}

p {
  margin: 1rem 0;
  color: var(--DesaturatedRed);
  line-height: 1.5rem;
}

a:hover {
  color: var(--DesaturatedRed);
}

.hidden {
  display: none;
}

footer {
  width: 100%;
  font-size: 11px;
  text-align: center;
  color: var(--SoftRed);
}

@media (min-width: 1000px) {
  body {
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: none;
    background-size: cover;
  }
  main {
    max-width: none;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 610px;
    grid-template-rows: 1fr 2fr .5fr;
    grid-template-areas:
      "header hero"
      "soon hero"
      "footer hero";
  }

  header,
  .coming-soon {
    padding: 2rem 20vw;
  }

  header {
    grid-area: header;
    align-self: center;

  }

  header img {
    height: 2.5rem;
    align-items: center;
  }



  .hero {
    height: 100%;
    width: 100%;
    grid-area: hero;
    background-image: url(images/hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .coming-soon {
    grid-area: soon;
    text-align: left;
  }

  footer {
    position: static;
    grid-area: footer;
    align-self: end;
  }

  h1,
  span {
    font-size: var(--desktop-header);
    letter-spacing: 1rem;
  }

  .hero p {
    font-size: var(--desktop-body);
  }
}
